@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* =============== 
* Global Styles
* ===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/*
* ==================== 
* Custom Project Style
* ====================
*/

#root {
  display: grid;
  grid: auto / auto;
  min-height: 100%;
  background-color: rgb(255 237 213);
}
